<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    {% block custom_css %}{% endblock %}
    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- 包括所有已编译的插件 -->
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    {% block custom_js %}{% endblock %}
</head>
<body>
<section>
	<div class="wp">
		<div class="cont">
			<div class="fr error_cut">
				<br/><br/><br/><br/><br/><br/>
				<p>服务器错误，请稍后重新刷新。</p>
			</div>
		</div>
	</div>
</section>
</body>
</html>
