<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<title>{% block title %}忘记密码{% endblock %}</title>
    {% block custom_css %}{% endblock %}

    <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script type="text/javascript" src="{% static 'bootstrap/js/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <!-- 包括所有已编译的插件 -->
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    {% block custom_js %}{% endblock %}
</head>
    <div class="top-content">

            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>
                                <a href="{% url 'index' %}">健身论坛</a>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>找回密码</h3>
                            		<p>输入邮箱和验证码找回密码:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="{% url 'forget_pwd' %}" method="post" class="login-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="email" placeholder="邮箱" class="form-username form-control" value="{{ forget_form.email.value }}" id="email">
			                        </div>
                                    <div class="form-group">
                                        <label>验&nbsp;证&nbsp;码</label>
                                        <button class="captcha">点击刷新验证码</button>
                                        {{ forget_form.captcha }}
                                    </div>
			                        <button type="submit" class="btn">提交</button>
                                    {% csrf_token %}
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

</html>
